.heroImg {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../IMAGES/Wheeelie.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.heroImgText {
	text-align: left;
	position: absolute;
	top: 35%;
	left: 9%;
	color: white;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heroImgText h1 {
	width: 55%;
}

.heroImgText li {
	list-style: none;
	padding: 0;
}

.heroJoin {
	padding: 10px 0;
}

.heroMemberButton {
	position: absolute;
	top: 100%;
    border: 2px solid white;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.heroMemberButton a {
	margin: 20px ;
}