@media screen and (max-width: 769px) {
	header {
		padding: 0;
	}

	.navButton span {
		display: flex;

		width: 20px;
		height: 2px;
	}

	.screenLogo a {
		display: flex;
	}

	.navigationLinks {
		display: none;
	}

	.hamburgerNav {
		border-left: #61a2a9 solid 1px;
	}

	.screenLogo-NavButton {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.heroImg {
		padding: 4.7em 5rem !important;
	}

	.heroImg h1 {
		width: 90% !important;
	}
}

@media screen and (max-width: 541px) {
	.numberShowContainer {
		flex-direction: column;
		padding: 20px;
	}

	.heroImg {
		font-size:18px !important;
	}
}
	
@media screen and (max-width: 426px)  {
	.heroImg {
		font-size:17px !important;
	}
}

