@media screen and (max-width: 769px) {
	header {
		padding: 0;
	}

	.navButton span {
		display: flex;
		width: 20px;
		height: 2px;
	}

	.screenLogo a {
		display: flex;
	}

	.navigationLinks {
		display: none;
	}

	.hamburgerNav {
		border-left: #61a2a9 solid 1px;
	}

	.screenLogo-NavButton {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.heroImgText a {
		
		color: white;
		font-size: 25px !important;
	}
}

@media screen and (max-width: 426px)  {
	.heroImgText {
		text-align: left;
		position: relative;
		top: 50%;
		left: 50%;
		width: 50%;
		color: white;
	}
	
	.heroImgText p {
	padding: 15px 0;
	}
}
