@media screen and (max-width: 769px) {
	header {
		padding: 0;
	}

	.navButton span {
		display: flex;
		width: 20px;
		height: 2px;
	}

	.screenLogo a {
		display: flex;
	}

	.navigationLinks {
		display: none;
	}

	.hamburgerNav {
		border-left: #61a2a9 solid 1px;
	}

	.screenLogo-NavButton {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.heroImgText {
		top: 23% !important;
	}
	
	.heroImgText {
		font-size: 17px !important;
	}
}

@media screen and (max-width: 426px)  {
	.heroImgText {
		top: 15% !important;
		left: 7% !important;
	}

	.heroQuote h1 {
		margin: 0px !important;
		padding: 0px !important;
		width: 70% !important;
	}

	.heroImgText {
		font-size: 19px !important;
	}
		
}
